@model IEnumerable<TodoApp.Core.Entity.Task>

@{
    ViewData["Title"] = "Index";
}
<p></p>
<h1>Tasks</h1>
<p></p>
@foreach (var item in Model) {


<div id="list-group">
  <a href="#" style="background: #202020; border-top:none; border-left:none; border-right:none; border-bottom: 1px solid @item.ChangeColor(); padding: 0 20px"; class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between" style="color:@item.ChangeColor()">
      <h5 class="mb-1" style="color:@item.ChangeColor()">@Html.DisplayFor(modelItem => item.Name)</h5>
      <small id="deadline-status">  @Html.DisplayFor(modelItem => item.Deadline)</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>
                @if (item.Project != null){
                    Html.DisplayFor(modelItem => item.Project.Name);
                }
                else
                {
                    Html.DisplayFor(modelItem => item.Name);
                }
    </small>
    <small><h5 style="font-weight: bold;"> Is done?  @Html.CheckBoxFor(m => item.IsDone, new {  @class="MyCheckBox", @onclick="opennewwindow("+@item.Id+", false);" }) </h5></small>
    <script>  
    function activeClick(cb) {  
      @item.IsDone = cb.checked;  
     }  
</script>  
  </a>
</div>
}
    <a asp-action="Create" >Add new task</a>
<p>
<script type="text/javascript">
    function opennewwindow(id, bool) {
        var retVal = confirm("You can't cancel this action. Are you sure?");
            if (retVal == true) {
                window.location.href = '@Url.Action("Delete")?id=' + id
            } 
            else {
                document.location.reload(true)
            }
    }
</script>
